.box{
    border-radius: 35px 0px 35px 0px;
    margin: 40px 0;
    background-color: aqua;
    box-shadow: 5px 5px 5px gray;
    height: 400px;
    
}
.img-area{
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.356);
}
